@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

@mixin gothic {
  font-family: "League Gothic", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}